/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-size: 1rem;
  font-family: $font-body;
  font-weight: $weight-regular;
}

/* Links inside the navbar */
.dropdown-content {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 1rem;
  border: none;
  outline: none;
  color: $color-green;
  font-family: $font-body;
  font-weight: $weight-regular;
  padding: 14px 16px;
  background-color: inherit;
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: white;
}

.dropbtn:hover {
  color: $color-blue;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content__link {
  float: none;
  color: $color-blue-800;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family: $font-body;
  font-weight: $weight-regular;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #E9EFF0;
  color: $color-green-800;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
