.whatwedo-descript {
  margin-left: 30px;
  width: 255px;
}

.whatwedo-open {
  color: $color-blue;
  font-family: $font-body;
  font-weight: $weight-regular;
  margin: 10px 0 18px 30px;
  width: 250px;
}

.whatwedo-text {

  &__image {
    width: 250px;
    margin: 0 0 24px 30px;
  }

  &__body {
  margin: 10px 0 18px 30px;
  width: 255px;
  color: $color-blue-800;
  font-family: $font-body;
  font-weight: $weight-regular;
}
}

.whatwedo-program {
  background-color: #D0D9BF;
  padding: 24px 0 1px 0;
}

.whatwedo-program__body {
  color: $color-green;
  font-family: $font-body;
  font-weight: $weight-regular;
  margin: 10px 0 18px 0;
}

.whatwedo-goals {
  margin-top: 26px;
}

.whatwedo-blue-background {
  background-color: #E9EFF0;
  padding: 1px 0;
}

.whatwedo-goals-list__item {
  color: #6F7B53;
  margin: 0 0 30px 48px;
  list-style-type: circle;
  width: 230px;
}

/* Responsive styles */

@media (min-width: 768px) {
  .whatwedo-text {
    display: flex;

    &__image {
      width: 200px;
      height: 200px;
      margin: 26px 0 30px 50px;
      order: 1;
    }

    &__body {
    margin: 95px 0 0 50px;
    width: 421px;
    color: $color-blue-800;
    order: 2;
  }
}

.whatwedo-goals {
  margin: 30px 0 24px 50px;

  &-list__item {
  margin: -15px 0 30px 67px;
  width: 600px;
}
}

.whatwedo-open {
  margin: 16px 0 0 50px;
  width: 660px;
}

  .whatwedo-descript {
    margin-left: 50px;
    width: 660px;
  }

  .whatwedo-program {
    padding: 30px 0 15px 0;

    &__header {
    margin-left: 50px;
  }
}
}

@media (min-width: 1200px) {
  .whatwedo-text {
     width: 1070px;

    &__image {
      width: 320px;
      height: 320px;
      margin: 26px 0 30px 80px;
    }

    &__body {
    margin: 135px 0 0 80px;
    width: 900px;
  }
}

.whatwedo-goals {
  margin: 50px 0 26px 80px;

  &-list {
    margin-bottom: 50px;
  }

  &-list__item {
  margin: -15px 0 30px 97px;
  width: 960px;
}
}

  .whatwedo-open {
    margin: 21px 0 0 80px;
    width: 1000px;
}

  .whatwedo-descript {
    margin-left: 80px;
    width: 900px;
  }

  .whatwedo-program {
    padding: 50px 0 35px 0;

    &__body {
      width: 1000px;
    }

    &__header {
    margin-left: 80px;
    color: $color-blue-800;
  }
}
}
