$color-brick: #8D5940;
$color-brick-600: #A47A66;
$color-brick-700: #BB9B8C;

$color-cream: #D9D1C8;

$color-green: #6F7B53;
$color-green-800: #A2AE8A;

$color-blue: #96A2A4;
$color-blue-800: #5A6162;
$color-blue-700: #C0C7C8;

$font-body: 'Source Sans Pro', sans-serif;

$size-b1: 1.4rem;
$size-b2: 1.8rem;
$size-h2: 3.0rem;
$size-h3: 2.1rem;

$weight-light: 300;
$weight-regular: 400;
$weight-semi-bold: 600;
$weight-bold: 700;
